<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293562015116-vplcks7rnai2f6ivuvn44b88ag3nfpbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293562015116-vplcks7rnai2f6ivuvn44b88ag3nfpbv</string>
	<key>API_KEY</key>
	<string>AIzaSyDkYOisOqLe5Gf2ZNtuSIL5i9jYI7Kpp3g</string>
	<key>GCM_SENDER_ID</key>
	<string>293562015116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StudentID.StudentID</string>
	<key>PROJECT_ID</key>
	<string>studentid-129dd</string>
	<key>STORAGE_BUCKET</key>
	<string>studentid-129dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293562015116:ios:b0da04b43529908ec90aa9</string>
	<key>DATABASE_URL</key>
	<string>https://studentid-129dd.firebaseio.com</string>
</dict>
</plist>